// $primary: #17a2b8;
// $primaryLight: #534bae;
// $primaryDark: #5ea5a7;
// $white: white;
// $secondary: rgba(0, 0, 0, 0.08);
// $secondaryLight: #ffffff;
// $secondaryDark: #9ea7aa;

$primary: #403152;
$primaryLight: #6b5b7e;
$primaryDark: #190a29;
$white: white;
$secondary: #f2f2f2;
$secondaryLight: #ffffff;
$secondaryDark: #bfbfbf;

