.MuiPaper-root {
  margin: 0 auto;
  padding: 1%;
  height: 460px;
}

div.details {
  display: flex;
  margin-top: 3%;
  justify-content: space-evenly;
  max-width: 300px;
}

button {
  margin-bottom: 1%;
}
