@import './variables';

.MuiPaper-root {
  margin: 0 auto;
  padding: 1%;
  height: 500px;
}
.MuiCardHeader-title {
  color: $primary;
  margin-left: -15px !important;
  font-family: 'Raleway', sans-serif;
}
div.details {
  display: flex;
  margin-top: 3%;
  justify-content: space-evenly;
  max-width: 300px;
  .fab,
  .fas {
    color: $primary;
    font-size: 1.5rem;
  }
}

button {
  margin-bottom: 1%;
  background-color: $secondary !important;
}
button span.MuiButton-label a {
  color: $primary !important;
}
