@import './variables';
#social {
  padding: 2% 0;
  background-color: $secondary;
}
#social ul {
  display: flex;
  justify-content: space-around;
  padding: 1%;
  list-style-type: none;
}
#social ul li {
  margin: 2% auto;
}
#social li.fab::before,
#social li.fas::before {
  margin-top: 2%;
  font-size: inherit;
}
#social span {
  display: none;
}

#social p {
  color: $secondaryDark;
  margin-left: 30%;
}

@media (min-width: 768px) {
  #social ul {
    justify-content: flex-start;
  }
  #social li.fab,
  #social li.fas {
    margin: 3%;
    display: inline;
  }
}
