@import './variables';
#social {
  padding: 2% 0;
  background-color: $secondary;
}
#social ul {
  display: flex;
  justify-content: space-around;
  padding: 1%;
  list-style-type: none;
  margin-left: 15px;
}
#social ul li {
  margin: 2% auto;
}
#social li.fab::before,
#social li.fas::before {
  margin-top: 2%;
  font-size: inherit;
  color: $primary;
  font-size: 1.5rem;
}

#social span {
  display: none;
}

#social p {
  color: $primaryDark;
}

@media (min-width: 768px) {
  #social ul {
    width: 70%;
    margin: 2% auto;
  }
  #social li.fab,
  #social li.fas {
    margin: 3%;
    display: inline;
  }
}

@media (min-width: 996px) {
  #social {
    padding: 0px;
  }
}
