@import './variables';

.navbar.navbar-light.navbar-light {
    background-color: $primary !important;
    margin-bottom: 3%;
}

img#logo {
    width: 60px;
}
.MuiTypography-h6, .MuiTypography-body2 {
    font-family: 'Roboto', sans-serif;
    color: $secondary !important;
}
div#heading {
    margin-left: -20px;
    align-items: center;
}
button.navbar-toggler {
    background-color: white !important;
}
a.nav-link {
    color: $secondary !important;
    text-align: end;
}

@media(min-width: 768px) {
    img#logo {
        width: 50%;
    }
    div#heading {
        margin-left: -75px;
        align-items: center;
    }
}

