@import './variables';

header.MuiPaper-root {
  height: auto;
}
.MuiTypography-h6,
.MuiTypography-body2 {
  font-family: 'Roboto', sans-serif;
}
.MuiAppBar-colorPrimary {
  background-color: $primaryDark !important;
}
svg.MuiSvgIcon-root {
  color: $primaryDark;
}
h5#name {
  color: white !important;
}
#navButton {
  background-color: $primaryDark !important;
}
#hamburger {
  color: white !important;
}
.MuiIconButton-root:hover {
  background-color: $primaryDark !important;
  color: white !important;
}
.MuiIconButton-root:hover svg.MuiSvgIcon-root {
  color: white !important;
}
.MuiListItemText-root {
  color: $primaryDark;
}
.MuiListItemText-root a {
  text-decoration: none;
}
.MuiListItem-root:hover {
  background-color: $primaryDark !important;
}
.MuiListItem-root:hover svg.MuiSvgIcon-root {
  color: white;
}
.MuiListItem-root:hover .MuiListItemText-root {
  color: white;
  text-decoration: none !important;
}
.MuiListItem-root:hover .MuiListItemText-root a {
  text-decoration: none !important;
}
.socialNav span.icon {
  display: none;
}

@media (min-width: 996px) {
  header.MuiPaper-root {
    max-height: 100px;
  }
}
