@import './variables';

header.MuiPaper-root {
  height: auto;
}

.MuiTypography-h6,
.MuiTypography-body2 {
  font-family: 'Roboto', sans-serif;
}

.MuiAppBar-colorPrimary {
  background-color: $primary !important;
}

svg.MuiSvgIcon-root {
  color: $primary;
}

#hamburger {
  color: white !important;
}
