@import './variables';

header.MuiPaper-root {
  height: auto;
}
.MuiTypography-h6,
.MuiTypography-body2 {
  font-family: 'Roboto', sans-serif;
}
.MuiAppBar-colorPrimary {
  background-color: $primaryDark !important;
}
svg.MuiSvgIcon-root {
  color: $primaryDark;
}
h5#name {
  color: white !important;
}
#navButton {
  background-color: $primaryDark !important;
}
#hamburger {
  color: white !important;
}

.MuiIconButton-root:hover {
  background-color: $primaryDark !important;
  color: white !important;
  text-decoration: none;
}
.MuiIconButton-root:hover svg.MuiSvgIcon-root {
  color: white !important;
}
.MuiListItemText-root {
  color: $primaryDark;
}
.MuiListItemText-root a {
  text-decoration: none;
}
.MuiListItem-root:hover {
  background-color: $primaryDark !important;
}
.MuiListItem-root:hover svg.MuiSvgIcon-root {
  color: white;
}
.MuiListItem-root:hover .MuiListItemText-root {
  color: white;
  text-decoration: none !important;
}
.MuiListItem-root:hover .MuiListItemText-root a {
  text-decoration: none !important;
}
i.fab {
  color: grey;
  font-size: 1.5rem !important;
}
i.fab:hover {
  color: #007388;
  background-color: white !important;
}
.MuiListItem-root:hover i.fab {
  background-color: none !important;
}
a:hover {
  text-decoration: none;
}
.social {
  margin-top: 10%;
  display: flex;
  justify-content: space-around;
}

.social:hover {
  background-color: white !important;
}
@media (min-width: 996px) {
  header.MuiPaper-root {
    max-height: 100px;
  }
}
