@import './variables';

h1, h2, h3 {
  color: $primaryDark;
}
#skills {
  max-width: 1000px;
  margin: 0 auto;
}
.skills {
  padding: 3%;

  h2 {
    margin: 3% 0;
  }
}

// #skills p {
//   margin: 3% 0;
// }
// #skills ul {
//   padding: 0px;
// }
// ul li {
//   display: inline-block;
//   text-decoration: none;
//   margin: 0 0 1.6875em 0;
//   padding: 0.35em 0 0 3.5em;
//   position: relative;
//   vertical-align: top;
//   width: 45%;
//   min-height: 3rem;
// }

// ul li:before {
//   background: $primary;
//   border-radius: 100%;
//   color: white;
//   display: block;
//   height: 2.5em;
//   left: 0;
//   line-height: 2.5em;
//   position: absolute;
//   text-align: center;
//   top: 0;
//   width: 2.5em;
// }

// .fab,
// .fas {
//   font-size: 1rem;
// }

// .icon {
//   font-family: sans-serif;
//   font-weight: normal;
//   font-size: 1rem;
// }

// .iconSkills span.icon {
//   display: inline-block;
//   font-size: small;
// }

// ul li:nth-child(even) {
//   margin-left: 1.5%;
// }


// @media (min-width: 768px) {
//   .fas {
//     margin: 0 auto;
//   }
// }

// @media (min-width: 768px) {
//   #skills ul {
//     margin-left: 50px;
//   }
//   .iconSkills span.icon {
//     font-size: initial;
//   }
// }

// @media (min-width: 960px) {
//   .MuiContainer-root {
//     padding-left: 95px !important;
//     padding-right: 95px !important;
//   }
//   ul li {
//     width: 35%;
//   }
//   ul li:nth-child(even) {
//     margin-left: 25%;
//   }
// }
